
<nz-layout class="layout">
  
        <nz-header>  
            <div style="float: left;height: 5px; "><img src="assets/icons8-network-25.png"></div>
          <ul nz-menu nzTheme="dark" nzMode="horizontal" style="margin-left: 2.5%;">
            
            <li><h3 style="color: ghostwhite;font-weight: 400;">Network Security And Cryptography</h3></li>
            
          </ul>
        </nz-header>
        <nz-content>
          <nz-breadcrumb>
            <!-- <nz-breadcrumb-item>Home</nz-breadcrumb-item>
            <nz-breadcrumb-item>List</nz-breadcrumb-item>
            <nz-breadcrumb-item>App</nz-breadcrumb-item> -->
          </nz-breadcrumb>
          <div class="inner-content">
            <app-algos></app-algos>
          </div>
        </nz-content>
        <!-- <nz-footer>©2020 Implement By Asad</nz-footer> -->
      </nz-layout>